.my-nav {
  width: calc(100% - 18rem);
}

.hidden-scroll::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* For chat comp */

.scrollbar-track-blue-lighter::-webkit-scrollbar-track {
  --bg-opacity: 1;
  background-color: #f7fafc;
  background-color: rgba(247, 250, 252, var(--bg-opacity));
}

.scrollbar-thumb-blue::-webkit-scrollbar-thumb {
  --bg-opacity: 1;
  background-color: #edf2f7;
  background-color: rgba(237, 242, 247, var(--bg-opacity));
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
}

.chatbox-height {
  height: calc(100vh - 64px);
}

:root {
  overflow: hidden;
}


@media Only screen and (max-width: 1023.5px) {
  .my-nav {
    width: 100%;
  }
  .chatbox-height {
    height: calc(100vh - 48px);
  }
}